<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- The config below is used for Web Publish (Debug) -->
  <appSettings>
    <add key="Telegram:WebHookUrl" value=""/>
    <add key="Telegram:AppId" value="w"/>
  </appSettings>
</configuration>
