<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!-- The config below is used for Web Publish (Release) -->
  <appSettings>
    <add key="Telegram:WebHookUrl" value="https://CortanaBot.azurewebsites.net/api/MsgHook"/>
    <add key="Telegram:AppId" value="bot100459756:AAEmldNRPWIN_ZZE4lyV-_a_qOX585E0QzY"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
